body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/Grey_background.jpg"), url("../images/Grey_background.jpg");
  background-repeat: repeat-y;
  background-position: top left, top right;
  background-size: 250px;
}

/*Article*/
article {
  /*margin: 140px 250px 0px;*/
  margin: 140px 125px 0px;
}

/*ScrollToTop*/
#ScrollToTop_Image {
  position: fixed;
  right: 35px;
  bottom: 40px;
  z-index:100;
  display: none;
}
#ScrollToTop_Image > img {
  height: 80px;
  width: 80px;
  border-radius: 25px;
  opacity: 0.5;
  transition-duration: 0.4s;
}
#ScrollToTop_Image > img:hover {
  opacity: 1;
  cursor:pointer;
  box-shadow: rgba(0,0,0,0.3) 3px 4px 15px 1px;
}


/*Screen less than 1350px*/
@media screen and (max-width: 1350px) {
  body {
    background-size: 200px;
  }
  article {
    margin-right: 100px;
    margin-left: 100px;
  }
  /*aside div#ads img {*/
  /*width:200px;*/
  /*height:400px;*/
  /*}*/
}
