h1 {
  text-align: center;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3), 1px 1px 0 rgba(0,0,0,0.8);
  color: #333;
  opacity: 0.4;
  font-size: 40px;
  font-weight: 600;
}

hr {
  margin: 0 50px 50px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), dimgrey, rgba(0, 0, 0, 0));
}

form {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 50px 60px;
  margin:0 auto 150px;
  width:60%;
  text-align:center;
}
form table{
  width:100%;
  margin:30px;
}

/*Submit*/
input[type=submit] {
  width: 40%;
  /*margin-left: 80%;*/
  background-color: #1b1e24;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-shadow: #000 0px 1px 5px 0px;
  opacity: 0.7;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  transition-duration: 0.75s;
}
input[type=submit]:hover {
  opacity: 1;
  border-radius: 0;
  width: 100%;
  transition-duration: 0.75s;
}
input[type=submit]:focus {
  border-color: #1e9ce6;
  background-color: #fcfcfc;
  opacity: 0.5;
}

/*Other input fields*/
input[type=text], input[type=email],
input[type=password], input[type=file]{
  padding: 7px;
  font-size: 20px;
  border: 0.5px solid #1b1e24;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px 0;
  border-radius: 6px;
  width: 80%;
}
input[type=text]:hover, input[type=email]:hover,
input[type=password]:hover{
  border-color: white;
}
input[type=text]:focus, input[type=email]:focus,
input[type=password]:focus, input[type=file]:focus {
  background-color: #1b1e24;
  color: lightgray;
  font-weight: 100;
  border-color: #1b1e24;
}
input[type=file]{
  opacity: 0.85;
  cursor: pointer;
  background-color: rgb(89, 89, 89);
  color: lightgray;
  border-color: #1b1e24;
}
input[type=file]:hover{
  border-color: rgb(89, 89, 89);
}


#validation {
  color: red;
  display: block;
}

#submitResult{
  font-size: 25px;
  text-align: center;
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
  margin: 10px 0;
  padding: 15px 10px 15px 50px;
}

p#redirectToRegister {
  text-align: center;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3), 1px 1px 0 rgba(0,0,0,0.8);
  color: #333;
  opacity: 0.4;
  font-size: 28px;
  font-weight: 600;
  margin:-50px 0 200px;
  position:relative;
}

/*Tooltip*/
.tooltipText{
  position:absolute;
  visibility:hidden;
  font-size:15px;
  background-color:rgba(0, 0, 0, 0.74);
  color:white;
  border-radius:6px;
  padding:4px 15px;
  text-align:center;
  z-index:10;
}
span.asterisk{
  color:red;
  font-weight:bold;
  font-size:22px;
  /*cursor:pointer;*/
}
span.asterisk:hover + .tooltipText,
label:hover .tooltipText {
  visibility:visible;
}
label {cursor: help;}


/*Tooltip for the email address field*/
#tooltipForEmail{
  position:absolute;
  visibility:hidden;
  font-size:20px;
  font-weight: 500;
  border-radius:5px;
  padding:4px 10px;
  text-align:center;
  z-index:10;
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
}
input[type=email]:hover + #tooltipForEmail,
#tooltipForEmail:hover{
  visibility:visible;
}


#googleRecaptcha{
  margin-left: 27px;
}
