aside img:nth-child(1) {
    position: fixed;
    right: 0;
    top: 25%;
}

aside img:nth-child(2) {
    position: fixed;
    left: 0;
    top: 25%;
}

aside div#ads img {
    width: 230px;
    height: 500px;
}

/*Screen less than 1350px*/
@media screen and (max-width: 1350px) {
    aside div#ads img {
        width: 200px;
        height: 400px;
    }
}